@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/placeholders';

@import 'components/banner';
@import 'components/buttons';
@import 'components/overlay';
@import 'components/prompt';
@import 'components/socialmedia';

@import 'custom.scss';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';

@import 'pages/cgu';
@import 'pages/contact';
@import 'pages/home';
@import 'pages/project';
@import 'pages/projects';
@import 'pages/skills';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
@media only screen and (max-width: 75em) {
    html {
        font-size: 50%; 
    } 
}

body{
    font-family: $font-main;
    font-size: $default;
    color: $dark;
}
#content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1600px; 
    margin: 0 auto !important;
}
ul{
    padding: 0;
    margin: 0 !important;
    list-style: none;
}
button{
    outline: none !important;
}
a{
    text-decoration: none !important;
}
.form-control{
    font-size: 1.6rem;
}