@mixin title_bg-color($color, $mt, $mb){
    position: relative;
    z-index: 10;
    padding: 0 1.6rem;
    margin-top: $mt;
    margin-bottom: $mb;
    &:after {
        content: "";
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 65%;
        background-color: $color;
        z-index: -1;
    }
}

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
  
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
 // Custom devices
 @mixin rwd($screen) {
    @media (min-width: $screen+'px' ) {
       @content;
    }
}