//@extend %flex-center

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// TITLE
%title_padding{
    padding: 0 1.6rem;
}

// MARGIN
%margin-section{
    margin-bottom: $margin-section;
}

%box-shadow{
    box-shadow: 0 0 1rem 0 rgba($dark, 0.2);
    border-radius: 1.2rem;
}
%shadow{
    box-shadow: 0 0 1rem 0 rgba($dark, 0.2);
}

// BACKGROUND
%bg-dot{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}