// Colors
$dark: #000;
$white: #fff;
$grey:  #707070;
$light: #FBFAFF;
$neutral: #dadada;             // gris
$primary: #ccccff;          // lila
$primary-medium: #ccf;      // lila saturé
$primary-darker: #8080ff;   // violet
$secondary:  #FFC300;       // jaune
$tertiary: #ccffff;         // bleu/vert pâle

// Fonts
$font-main: "Josefin Sans", "Montserrat", "sans-serif";
$default: 1.6rem;
$regular: 400;
$semibold: 500;
$bold: 700;

//breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

//margin
$margin-section: 3.5rem;