.cgu{
    @extend .container;
    margin-bottom: $margin-section;

    .cgu-title{
        color: $primary-darker;
        text-align: center;
        margin-top: $margin-section;

        &--underline{
            text-decoration: underline;
        }
        &--color{
            color: $primary-darker;
            margin-top: 2.5rem;
        }
    }
    &-date{
        text-align: center;
        margin-bottom: $margin-section;
    }
}
