.contact{
    @extend .container;
    margin-top: $margin-section;
    margin-bottom: $margin-section;;

    &-title{
        @extend .col-12;
        @extend .col-md-10;
        text-align: center;
        margin-bottom: 3.5rem;
    }
    &-content{
        @extend .row;

        display: flex;
        justify-content: center;
    }
    &-input--small{
        @extend .col-12;
        @extend .col-md-5;
    }
    &-input--large{
        @extend .col-12;
        @extend .col-md-10;
    }
    &-button{
        @extend .col-12;
        @extend .col-md-10;
        display: flex;
        justify-content: center;

        @include md{
            justify-content: flex-end;
        }

        button{
            @extend %btn--tag;
        }
    }
}