.home__intro{
    @extend .container-fluid;
    @extend %margin-section;
    position: relative;
    z-index: -1;

    &-content{
        @extend .row;
        align-items: center;

        @include md {
            margin-left: 3rem;
            padding: 0 4rem;
            background: linear-gradient(0deg, $white 0%, $white 10%, $light 10%, $light 100%);
        }
        @include xl {
            padding: 0 8rem;
            background: linear-gradient(0deg, $white 0%, $white 15%, $light 15%, $light 100%);
        }
    }
    &-item{
        @extend .col-md-6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3.5rem;

        @include md {
            align-items: flex-start;
            padding: 0 1.5rem;
        }

        h1{
            @extend %title_padding;
            @extend .m-0;        }
        h2{
            @include title_bg-color($primary, 0, 2.5rem);
        }
        a{
            @extend %btn--dark;
        }
        img{
            height: 50vh;

            @include md {
                margin-top: -8.8rem;
                height: auto;
            }
            @include xl {
                margin-top: -8rem;
                padding: 0 3rem;
            }
           
        }
        &:first-child{
            order: 1;
            height: 40vh;

            @include sm {
                max-width: 540px;
                margin-left: auto;
                margin-right: auto;
                // padding: 0 5.5rem;
            }
            @include md {
                order: 0;
                padding: 2.5rem 0;
                margin-bottom: 7%;
            }
            @include xl {
                padding: 0;
            }
        }
    }
}

.home__skill{
    @extend .container;
    @extend %margin-section;
    background-color: $light;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 80px 0;

    @include md {
        background-color: transparent;
    }

    h2{
        text-align: center;
        @include title_bg-color(none, 0, 3.5rem);
    }

    &-content{
        @extend .row;   
    }
    &-item{
        @extend .col-md-4;
        @extend .d-flex;
        @extend .flex-column;
        @extend .align-items-center;

        img{
            max-width: 10rem;
        }
        h3{
            @include title_bg-color ($secondary, 1.5rem, 2rem);
        }
    }
}

.home__news{
    @extend .container-fluid;
    @extend %margin-section;
    
    @include md {
        background: linear-gradient(180deg, 
                rgba($tertiary, .3) 0%, rgba($tertiary, .3) 60%,
                $white 60%, $white 100%);
        border-radius: 135px 0 0 0;
    }

    h2{
        @include title_bg-color(none, 3.5rem, 3.5rem);
        text-align: center;
        
        @include md {
            text-align: start;
            padding-left: 11rem !important;
            @include title_bg-color(none, 7rem, 3.5rem);
        }
    }

    &-content{
        @extend .row;
        @extend %overlay--content;
    }
    &-item{
        @extend .col-md-4;
        margin-bottom: 2.4rem;
        padding: 0 35px;

        @include md {
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 0;
        }

        img{
            @extend %box-shadow;
        }

        &--overlay{
            @extend %overlay;

            button{
                @extend %overlay--txt;
                @extend %btn--sub;
            }
        }
    }
}