.projects{
    @extend .container;
    margin-top: $margin-section;

    &-content{
        @extend .row;
        display: flex;
        justify-content: center;

        @include md {
            justify-content: start;
        }
    }

    &-item{
        @extend .col-12;
        @extend .mb-5;

        h1{
            @extend .mb-5;
            text-align: center;
        }
        &--tag{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &-link{
                @extend .mx-3;
                @extend .my-2;
                @extend %btn--tag;
                
                &.active{
                    @extend %btn--tag-active;
                }
            }
        }
    }

    &-alert{
        @extend .col-12;

        display: none;
    }

    &-list{
        @extend .col-10;
        @extend .col-sm-6;
        @extend .col-md-4;

        &-item{
            margin-bottom: 2.4rem;
            position: relative;
    
            @include md {
                padding-right: 15px;
                padding-left: 15px;
                
            }
    
            img{
                @extend %box-shadow;
            }
    
            &--overlay{
                @extend %overlay;
    
                button{
                    @extend %overlay--txt;
                    @extend %btn--sub;
                }
            }
        }
    }
}