.project{
    @extend .container;
    margin-bottom: $margin-section;
    margin-top: $margin-section;

    &-content{
        @extend .row;
    }
    &-info{
        @extend .col-12;
        @extend .col-md-6;
        margin-bottom: $margin-section;
        h1{
            text-align: center;
        }
        &--link{
            @extend .mt-4;
            
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li{
                    @extend .mb-2;
                    @extend .mx-2;
                    @extend %btn--sub;

                    a{
                        color: $white !important;
                    }
                    &:hover a{
                        color: $dark !important;
                    }
                }
            }
        }

        &--tag{
            display: flex;
            align-items: baseline;
            border-top: 1px solid $primary;
            padding-top: 1.5rem;

            p{
                margin-right: 1.5rem;
            }
            &-item{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                a{
                    @extend %btn--tag;
                    margin: .5rem;
                    color: $primary-darker !important;
                }
                &:hover a{
                    color: $white !important;
                }
            }
        }
    }
    &-gallery{
        @extend .col-12;
        @extend .col-md-6;

        @include md{
            align-self: center;
        }

        h2{
            font-size:1.6rem;
        }
        button{
            font-size: 1.6rem !important;
        }
    }
}


.image-gallery {
	display:flex;
	width:100%;

	&__image {
		object-fit: cover;
        border: 1px solid $neutral;
	}
	
	&__col {
		width:100%;
		height:calc(100vw / 2.5);
		overflow:hidden;
		object-fit:cover;

        @include md{
            height:calc(100vw / 5);
        }

        @include lg{
            height:calc(100vw / 7.5);
        }
	}
}