.skills{
    @extend .container;
    margin-bottom: $margin-section;
    margin-top: $margin-section;

    &-title{
        @extend .col-12;
        margin-bottom: 3rem;
        text-align: center;
    }

    &-content{
        @extend .row;
        display: flex;
        justify-content: center;

        @include md{
            justify-content: start;
        }
    }

    &-item{
        @extend .col-10;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        background-color: $light;
        border: 3px solid $white;
        border-radius: 2.5rem;

        @include md{
            @extend .col-md-6;
        }

        @include lg{
            @extend .col-lg-4;
        }

        img{
            max-height: 80px;
        }
        h2{
            margin-top: 1.5rem;
        }
    }
}