.banner{
    @extend .container-fluid;
    @extend %margin-section;
    background-color: $light;
    
    @include md {
        margin-top: 70px;
        border-radius: 0 0 135px 0;
    }

    &-content{
        @extend .col-12;
        @extend .d-flex;
        @extend .flex-column;
        @extend .align-items-center;
        padding: 60px 0 70px;

        h3{
            @include title_bg-color($primary, 0, 35px);
        }
        a{
            @extend %btn--dark;
        }
    }
}