%btn--dark{
    background-color: $dark;
    padding: 10px 30px;
    color: $light;
    border: none;
    border-radius: 50px;
    transition: all .2s;
    position: relative;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($dark, .2);
        color: $primary;
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($dark, .2);
    }
}

%btn--sub{
    border: 1px solid $dark !important;
    padding: 8px 24px;
    color: $white;
    background-color: $dark;
    border-radius: 20px 0;
    transition: all .2s;

    &:hover{
        color: $dark;
        background-color: #f7f7fd;
        // border: 1px solid $dark !important;
        border-radius: 0 20px;
        text-decoration: none;
    }
}

%btn--tag{
    color: $primary-darker;
    background-color: $white;
    padding: 10px 30px;
    border: 1px solid $primary-darker;
    border-radius: 50px;
    transition: all .2s;

    &:hover{
        background-color: $primary-darker;
        color: $white;
    }
}
%btn--tag-active{
    background-color: $primary-darker;
    color: $white;
}