%overlay{
    margin-left: 0;
    width: auto;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 100%;

    border-radius: 1.2rem;
    background-color: $light;
    transition: .3s ease;
    opacity: 0;
    
    @include md{
        width: calc(100% - 30px);
        margin-left: 15px;
    }

    &:hover{
        opacity: 1;
    }
}

%overlay--content{
    position: relative;
}

%overlay--txt{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}