.install-banner {
    align-items: center;
    display: none;
    justify-content: space-between;
    width: 100%;
    background-color: $primary-darker;
    z-index: 1;
    line-height: normal;
    color: $white;
    padding: 5px 0;

    p{
        margin: 0;
        text-align: center;
    }

    &--close{
        color: $white;
        font-weight: $semibold;
        
        border: none;
        background-color: transparent;
        margin: 0 10px;
    }
    &--install{
        margin: 0 10px;
        background-color: $white;
        color: $primary-darker;
        border: none;
        border-radius: 25px;
        padding: 8px 15px;
    }
}