footer{
    @extend .container;
    margin-bottom: calc(68px + #{$margin-section});
    margin-top: auto;

    @include md{
        margin-bottom: $margin-section; 
    }

    .content{
        @extend .row;

        &-list{
            @extend .col-md-4;
            text-align: center;

            @include md {
                text-align: start;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &:nth-child(2){
                margin-bottom: 1.5rem;

                @include md{
                    margin-bottom: 0;
                }
            }
            a{
                color: $dark;
                &:hover{
                    color: $primary-darker;
                }
            }
        }
        &-rs{
            @extend .col-md-4;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                @extend %box-shadow;
                max-width: 5.2rem;
                min-width: 5.2rem;
                padding: .8rem;
                
                &:first-child{
                    margin-right: 1rem;
                }
            }
        }
    }
}