.nav__mobile{
    // @extend %shadow;
    border-top: 1.5px solid $neutral;
    background-color: $white;
    z-index: 50;
    padding-top: 1.6rem;
    position: fixed;
    width: 100%;
    bottom: -.2rem;
    
    .icon{
        fill: $grey;
        width: 3.5rem;
        height: 3.5rem;

        &:hover{
            fill: $primary-darker;
        }
        &.active{
            fill: $primary-darker;
        }
    }

    ul{
        display: flex;
        width: 100%;
        justify-content: space-around;

        a{
            color: $dark;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }

    p{
        color: $grey;

        &.active{
            color: $primary-darker;
        }
    }
}

.nav{
    @extend .navbar, .navbar-expand-md;
    z-index: 1;
    
    &__brand{
        width: 7.5rem;
        margin-left: 2.5rem;
    }
    &__content{
        @extend .navbar-nav;
        width: 100%;
        padding: 0 4rem;
    }
    &__item{
        @extend .nav-item;

        &:last-child{
            margin-left: auto;
        }
    }
    &__link{
        @extend .nav-link;
        font-size: 1.8rem;
        color: $dark;
        font-weight: $semibold;
        position: relative;
        margin: 0 1.5rem;
        padding: .8rem .8rem 0;

        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: .3rem;
            bottom: -.5rem;
            left: 0;
            background-color: $primary-darker;
            border-radius: 1rem;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }
        &:hover{
            color: $dark;

            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
        &.active{
            color: $dark;

            &.active:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
    button{
        @extend %btn--dark;
    }
}